.App{
    background-color: #221f1f;
}
.title{
    color: white;
    margin-bottom: 30px;
}
.moviesList{
    display: flex;
    overflow-y: scroll;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1vh;
}
.moviesList::-webkit-scrollbar{display: none;}
.Selector{
    display: flex;
    align-items: center;
}

.mainFooter{
    display: flex;
    justify-content: center;
}
.mainFooter > div{
    margin: 0 1rem;
    line-height: 2px;
}
.mainFooter a{
    font-size: .7rem;
    color: gray;
}
.mainFooter a:hover {
    font-size: .7rem;
    color: gray;
}
.buttonFooter{
    font-size: 1rem;
    background-color: #221f1f;
    padding: .7rem .2rem;
    color: gray;
    border: 1px solid gray;
    transition: 1s ease;
}
.buttonFooter:hover{
    color: #221f1f;
}
.copy{
    display: flex;
    justify-content: center;
    font-size: .7rem;
    margin-top: 10px;
    color: gray;
}
.footerContainer{
    margin-top: 10vh;
}



.button-area{
    display: flex;
    justify-content: space-between;
}
.button-area button{
    background-color: transparent;
    border: none;
    margin: 0 2vh 5vh 2vh 
}
.right{
    transform: rotate(180deg);
}